
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2" style="margin-left: 25%">Add Class</h1>
</div>
<div>
<div class='row'>
  <div class='col-md-8'>

        <form class="needs-validation" novalidate="" action="/admin/class-create" method="POST" style="margin-left: 40%" >

            <div class="mb-3">
              <label for="batch">Batch</label>
              <select id="batch" name="batch" class="form-control">
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="section">Section</label>
              <select id="section"  name="section" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>

            <hr class="mb-4">
            <h4>Adviser</h4>

            <div class="mb-3">
              <select id="adviser" name="adviser" class="form-control">
                {{#each faculties}}
                  <option value="{{this.id}}">{{this.first_name}} {{this.last_name}}</option>
                {{/each}}
              </select>
            </div>

            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
          </form>
   </div>
</div>


</div>

    </main>