<!DOCTYPE>
<html>
	<head>
	<title> BSCpE Thesis Management </title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/modal.css">
	<script src="../js/fontawesome-all.js"></script>
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.js"></script>
	
	<!--     Fonts and icons     -->
	<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	<!-- CSS Files -->
	<link href="../css/bootstrap.min.css" rel="stylesheet" />
	<link href="../css/now-ui-dashboard.css" rel="stylesheet" />
	

 <body>
    <div class="sidebar" data-color="orange">
      
      <div class="logo">
        </a>
        <a href="/" class="simple-text logo-normal">
          BSCpE Thesis Management
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="/faculty">
              <p>Dashboard</p>
            </a>
          </li>
		  <li>
            <a href="/faculty/classes">
              <p>Classes</p>
            </a>
          </li>
		  <li>
            <a href="/faculty/thesis">
              <p>Thesis Proposals</p>
            </a>
          </li>
		  <li>
            <a href="/faculty/mor">
              <p>MOR Defense</p>
            </a>
          </li>
		  <li>
            <a href="/faculty/dp1">
              <p>DP-I Defense </p>
            </a>
          </li>
		  <li>
            <a href="/faculty/dp2">
              <p>DP-II Defense </p>
            </a>
          </li>
		  <li>
            <a href="/faculty/finished">
              <p>Completed Thesis</p>
            </a>
          </li>
          
<li>
            <a href="/logout">
              <p>Logout</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div></div></div></div></div>

<main style="margin-top: 3%">
      {{{body}}}
	  
	  </main>

 <!--   Core JS Files   -->
  <script src="./js/core/jquery.min.js"></script>
  <script src="./js/core/popper.min.js"></script>
  <script src="./js/core/bootstrap.min.js"></script>
  <script src="./js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="./js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="./js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./js/now-ui-dashboard.min.js?v=1.2.0" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>