<!DOCTYPE>
<html>
	<head>
	
	<link rel="stylesheet" type="text/css" href="./css/home.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./css/modal.css">
	<script src="./js/fontawesome-all.js"></script>
	<script src="./js/jquery.js"></script>
	<script src="./js/popper.js"></script>
	<script src="./js/bootstrap.js"></script>

		<title> COE Thesis Management </title>
	</head>
	<body>
		{{{body}}}
	</body>
</html>

</style>