<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Add Group</h1>
</div>
<div>
<div class='row'>
  <div class='col-md-8'>

        <form class="needs-validation" novalidate="" action="/faculty/group-create" method="POST">
            <div class="mb-3">
              <label for="section">Section</label>
              <select id="section"  name="section" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="" value="" required="" name="name">
            </div>
            <div class="mb-3">
                <label for="adviser">Adviser</label>
                <input type="number" class="form-control" id="adviser" placeholder="" value="{{adviserId}}" name="adviser" readonly="">
            </div>
            <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
        </form>
   </div>
</div>


</div>