

<body>
<!-- Header -->
<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color:  #FF7C4C;">
	<div class="container-fluid">
		<a class="navbar-brand" href="/home"><img src="mm.jpg" style="width: 80px; height: 80px;"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>

</nav>
<!-- End of Header -->
<!-- Landing Page -->
<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>

    <div class="col-md-4">
      <section class="login-form">
        <form method="POST" action='login' role="login">
          <img src="http://photos1.blogger.com/blogger/3587/3804/400/2be9.jpg" class="img-responsive" alt="" id="logocpe"/>
          <center><h4>Thesis Management System</h4></center>
          <input type="email" id="inputEmail" name="email" placeholder="Email" required class="form-control input-lg"  />

          <input type="password" name="password" class="form-control input-lg" id="inputPassword" placeholder="Password" required="" />

          <button type="submit" name="" class="btn btn-lg btn-primary btn-block" value="Login">Sign in</button>
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <div>
             <a href="#">Reset password</a>
          </div>
  <center>  <p class="mt-5 mb-3 text-muted">© 2018 College of Engineering</p> </center>
        </form>
      </section>
      </div>
  </div>
</div>
<!-- Jumbotron -->
<div class="container-fluid">
	<div class="row jumbotron">
		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
			<p class="lead">Bachelor of Science in Computer Engineering (BSCOE) <br>  <br>
The Bachelor of Science in Computer Engineering (BSCoE) program provides basic background in science and engineering. The program emphasizes the fundamental concepts of the theory and use of electronics and electricity, analog and digital components, the analysis and design of digital computer hardware and the techniques required in order to interface a microprocessor to memories, input-output ports and other device or to other microprocessors. The design includes the software tools required by the applications. Computer data communications and emerging technologies such as digital signal processing, computer control and automation, computer network and electives complement the specialization, giving the students the ability to design and optimize pure digital and analog / digital hybrid circuits in technical applications and in networking.

The program prepare students for careers in professional computer engineering and for leading roles in the design, analyses and applications of computing structures that involve hardware, software or both. The students must have strong foundation in the basic physical and engineering sciences to develop and/or upgrade information and communications technology.</p>
		</div>
	</div>
</div>
<!-- Ending of Jumbotron -->



