<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2" style="margin-left: 25%;">Add Thesis</h1>
</div>
<div>
<div class='row'>
  <div class='col-md-8'>

        <form class="needs-validation" novalidate="" action="/student/thesis/thesis-create" method="POST" style="margin-left: 25%;">
              <div class="mb-3">
			  
			  
                <label for="title">Thesis Title</label>
                <input type="text" class="form-control" id="title" placeholder="" value="" required="" name="title">
              </div>
              <div class="mb-3">
                <label for="abstract">Abstract</label>
                <textarea rows="4" class="form-control" id="abstract" value="" required="" name="abstract"></textarea>
              </div>

            <div class="mb-3">
              <label for="year">Year</label>
              <input type="text" class="form-control" id="year" value="{{data.batch}}" name="year" readonly="">
            </div>
            
            <hr class="mb-4">
            {{!-- <input type="hidden" name="user_type" value="student"> --}}
            <input type="hidden" name="group_id" value="{{data.group_id}}">
            <input type="hidden" name="thesis_stage" value="MOR">
            <input type="hidden" name="adviser_id" value="{{data.adviser_id}}">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
          </form>
   </div>
</div>


</div>